/* Top Level Choices */

html {
    font-size: 62.5%; /* 10px browser default */
    @include print {
        font-size: 50%;
    }
}

body.wordpress {
	font-family: $body-font;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.625;
	background-color: #000000;
	padding-top: 40px;
    @include mobile {
        padding-top: 0px;
    }
    @include print {
        padding-top: 0px;
        line-height: 1.4;
    	background-color: #ffffff;
    }
}

/* Typographical Elements */

a {
	color: $darkest-color;
    @include print {
        color: black;
    }
	text-decoration: underline;
}

a:hover,
a:focus {
    @include notprint {
       color: $dark-background;
       background-color: $lightest-color;
   }
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol, ul {
	list-style: none;
}

ul {
	list-style: disc outside;
	margin: 0 0 25px 48px;
	padding: 0;
}

ol {
	list-style-type: decimal;
	margin: 0 0 25px 48px;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

blockquote {
	margin: 0;
	padding: 24px 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

pre {
	background-color: #F9F9F9;
	overflow: scroll;
	padding: 0 20px;
	white-space: pre;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark-background;
    page-break-after: avoid;
	font-family: $header-font;
	font-weight: normal;
	line-height: 1.4;
	margin: 0;
	margin-bottom: 22px;
    padding: 0;
    @include print {
        color: black;
        margin-bottom: 0.5em;
    }
}

h1 {
    font-size: 36px;
	font-size: 3.60rem;
    @include notprint {
        padding: 0 0 0 6px;
        background: linear-gradient(to right, $lightest-color 0%, rgba($lightest-color, 0.0) 4em);
        border-left: 2px solid $darkest-color;
        position: relative;
        margin-top: 2px;

        &:before {
            content: " ";
            position: absolute;
            left: -2px;
            top: 0;
            height: 2px;
            width: 100%;
            max-width: 4em;
            background-color: $darkest-color;
        }
    }
}

h2 {
    font-size: 30px;
	font-size: 3rem;
    @include notprint {
        padding: 0 0 0 6px;
        background: linear-gradient(to right, $lightest-color 0%, rgba($lightest-color, 0.0) 4em);
    }
}

h3 {
    font-size: 24px;
	font-size: 2.4rem;
}

h4 {
    font-size: 20px;
	font-size: 2rem;
}

h5 {
    font-size: 18px;
	font-size: 1.8rem;
}

h6 {
    font-size: 16px;
	font-size: 1.6rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

iframe {
	border: none;
}

img {
	height: auto;
	width: auto\9; /* IE8 */
}
