/* Bio Images (due for revamp) */

.clear-div {
	clear: both;
	margin: 0;
	padding: 0;
}

.bio-image {
    display: block;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

.bio-card {
	background-color: #000000;
	color: #ffffff;
	display: inline-block;
	margin: 0 24px 24px 0;
	vertical-align: top;
	text-align: center;
	max-width: 100%;
}

@media (max-width: 600px) {
    .bio-image {
        max-width: none;
        max-height: none;
        width: 100%;
        height: auto;
    }

    .bio-image.alignleft {
        float: none;
        margin: 0;
    }

    .bio-image.alignright {
        float: none;
        margin: 0;
    }

	.bio-card {
		margin-right: 0;
	}

	.bio-card .img-wrap {
		max-width: none;
		max-height: none;
	}
}

.bio-card .title {
	font-family: $header-font;
	font-size: 30px;
	margin: auto;
	text-align: center;
}

.bio-card .name {
    font-family: $header-font;
    font-size: 30px;
    margin: auto;
    text-align: center;
    line-height: 1.0;
}

.bio-card .role {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    line-height: 1.2;
}

.bio-card .img-wrap {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 400px;
    max-height: 400px;
    display: inline-grid;
}

.bio-card img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
}
