
.schedule_hint {
    margin: 18px 0 -18px 0;
    color: grey;
    font-size: 1.2rem;
    page-break-after: avoid;
    page-break-inside: avoid;

    // Hide if it's not a screen (e.g. print)
    @media not screen {
        display: none;
        margin: 0;
    }

    // Hide if the device has a cursor.
    @media all and (hover:hover) {
        display: none;
        margin: 0;
    }

    .portrait_only {
        @media not all and (orientation:portrait) {
            display: none;
        }
    }
}

.schedule_grid {
    display: grid;
    font-size: 1.4rem;
    border-color: grey;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0 0 22px 0;
    background-color: $light-background;
    overflow-x: auto;
    page-break-inside: avoid;

    &.schedule_grid1 {
        grid-template-columns: min-content 1fr;
    }

    &.schedule_grid4 {
        grid-template-columns: min-content repeat(4, 1fr);
    }

    .grid1col {
        grid-column-end: span 1;
    }

    .grid4col {
        grid-column-end: span 4;
    }

    .gridspan {
        grid-column: 1 / -1;
    }

    > div {
        /* border: 1px solid grey; */
        border-color: grey;
        border-width: 0 0 1px 1px;
        border-style: solid;
        padding: 5px 8px;
        @include print {
            padding: 2px;
        }
    }

    /* https://css-tricks.com/stripes-css/ */
    .schedule_header {
        text-align: center;
        grid-column: 1 / -1;
        background-color: #C0C0C0;

        .event {
            font-weight: bold;
        }
    }

    .schedule_time {
        font-weight: bold;
        white-space: nowrap;
        background-color: #E7E7E7;
        display: flex;

        &.schedule_subtime {
            padding-left: 1em;
        }

        // for vertical alignment
        > div {
           margin-top: auto;
           margin-bottom: auto;
       }
    }

    .schedule_event {
        min-width: 10em;
        text-align: center;
        position: relative;
        z-index: 0;

        div {
            background: transparent;
        }

        .workshop_title {
            font-weight: bold;
            @include notprint {
    	       color: $darkest-color;
               text-decoration: underline;

               &:hover, &:focus {
                  color: $dark-background;
                  background-color: $lightest-color;
               }
            }
        }

        .workshop_teacher {
            @include print {
                font-size: 10px;
                font-size: 1.25rem;
            }
        }

        .workshop_tags {
            font-style: oblique;
            @include print {
                color: #AAAAAA;
                font-size: 10px;
                font-size: 1.25rem;
            }
        }

        .tba {
            color: #AAAAAA;
        }

        .workshop_description {
            @include notprint {
                display: none;
            }
            font-size: 8px;
            font-size: 1rem;
            text-align: left;
            padding: 0 3px;

            p {
                margin: .25em 0 0 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .workshop_details {
        box-sizing: border-box;
        position: relative;
        left: 0px;
        border-top: 0px;
        background-color: $lightest-color;

       .workshop_title, .workshop_teacher {
           display: inline;
           font-weight: bold;
       }

       .workshop_description {
           text-indent: 2em;

           p {
               margin: .25em 0 0 0;

               &:first-child {
                   margin-top: 0;
               }
           }
       }

       .workshop_tags {
           font-style: oblique;
           text-indent: 2em;
       }

       .close_button {
           position: absolute;
           padding: 5px;
           bottom: 0;
           right: 0;
       }
   }
}

// Stlylizing and TV (Toggle Visible) stuff.

.tv_button {
    cursor: pointer;
}

.tv_stylize .tv_style_shader {
    height: 1em;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.tv_stylize.tv_shown {
    border-bottom: 1px solid $lightest-color;
    .tv_style_shader {
        background: linear-gradient(to bottom, rgba($lightest-color, 0.0), $lightest-color);
    }
}

.tv_toggle_vis {
    display: none;
}

/* styling for workshop details */
